* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #232323;
    font-family: 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

#area-header {
    width: 100vw;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#section-logo-netflix img {
    width: 150px;
    height: 40px;
    margin: 0px 0px 0px 38px;
}

#bannerLogin {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/39f3c979-c105-4948-9c51-611eedf3a6fd/36ddf343-62a3-41a5-8da6-7745fc668cac/BR-pt-20230612-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-size: 124.5% 126.6%;
    background-position: bottom;
    background-repeat: no-repeat;
}

#conteudoBanner {
    height: inherit;
    width: inherit;
    display: grid;
    justify-content: center;
    color: #FFF;
    background-image: linear-gradient(#000000d7, rgba(0, 0, 0, 0.39), #000000d7);
}

#area-login {
    box-sizing: border-box;
    background-color: #000000a4;
    width: 450px;
    margin: 0px auto 90px;
    border-radius: 5px;
    padding: 60px 68px 40px;
}

#area-login form {
    height: 370px;
}

#area-login h1 {
    font-size: 48px;
    font-weight: 900;
}

#area-login h1 {
    font-size: 32px;
    font-weight: 600;
    margin: 0px 0px 28px;
}

.input {
    height: 56px;
    display: flex;
    margin-bottom: 10px;
    background-color: #333333;
    border: 1px solid #646464;
    border-radius: 5px;
}

.input input {
    font-size: var(--font-size-pequeno);
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #727375;

}

#email {
    padding: 16px 20px 0px;
}

#senha {
    padding: 16px 0px 0px 20px;
}

.ver-senha {
    color: #8c8c8c;
    background-color: transparent;
    height: inherit;
    border-radius: 0px 5px 5px 0px;
    border: none;
    padding: 0px 12px;
}

#info-senha {
    font-size: 13px;
    color: #E87C03;
}

#button-login-new {
    margin: 24px 0px 12px;
    font-size: 16px;
    color: #FFF;
    padding: 10px;
    width: 100%;
    background-color: red;
    border: none;
    border-radius: 6px;
}

#section-checkbox,
#section-checkbox a {
    font-size: 14px;
    color: #5f5c5c;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

#hybrid-login-other {
    width: 100%;
    height: 141px;
    color: #5f5c5c;


}

#hybrid-login-novo-user a {
    color: #FFF;
    text-decoration: none;
}

#recaptcha-temos-uso {
    font-size: 13px;
    margin: 11px 0px 0px;
}


#section-footer {
    box-sizing: border-box;
    background-color: #000000a4;
    padding: 30px 0px;
}

.container {
    width: 1000px;
    margin: 0px auto 20px auto;
}

.title-footer {
    color: #5f5c5c;
    margin: 0px 0px 30px;
}

.title-footer a {
    color: #5f5c5c;
}

.title-footer a:hover {
    text-decoration: underline;
}

.container ul {
    display: flex;
    height: 66px;
    flex-wrap: wrap;
}

.iten-list-footer {
    font-size: 13px;
    box-sizing: border-box;
    width: 250px;
    list-style: none;
    color: #5f5c5c;
    padding: 0px 12px 0px 0px;
    margin: 0px 0px 16px;

}
.iten-list-footer:hover {
    text-decoration: underline;
    cursor: pointer;
}

#idioma {
    background-color: #000000a4;
    color: #5f5c5c;
    padding: 12px 26px 12px 30px;
    width: 137px;
}